<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>SLR | Demo</title>
</head>
<body>
    <!--### LANDING PAGE ### -->
    {% if command is not defined %}
    <form action="/" method="post" id="form" autocomplete="off">
        <input type="text" name="sentence">
    </form>

    <div class="container" id="container">
        <div class="circle"></div>
        <div id="sign">
            <button type="submit" form="form"><img src="static/css/sign-language.png" alt="Submit"></button> 
        </div>
        <div class="pointer-container">
          <span class="pointer"></span>
        </div>
        <div class="gradient-circle"></div>
    </div>
    <!--### BATHROOM ### -->
    {% elif command['location'] == 1 or command['location'] == 5 %}
    <div id="bathroom">
        {% if sentence is defined %}
        <div class="sentence">
            <div id="sentence">
                <h2>{{sentence}}</h2>
            </div>
        </div>
        {% endif %}
        <div class="{% if seed[1][9] == 1 %} {{'washer washeron'}} {% else %} {{'washer'}} {% endif %}">
        </div>
        <div class="{% if seed[1][8] %} {{'toggler toggleron'}} {% else %} {{'toggler'}} {% endif %}">
        </div>
        <div class="{% if seed[1][2] %} {{'water wateron'}} {% else %} {{'water'}} {% endif %}">
        </div>
        <div class="container-page">
            <div class="circle"></div>
            <div id="sign-page">
                <form action="/" method="GET">
                    <input type="image" src="static/css/sign-language.png" border="0" alt="Submit" />
                </form>
            </div>
            <div class="gradient-circle-page"></div>
        </div>
    </div>
    <!--### KITCHEN ### -->
    {% elif command['location'] == 2 %}
    <div id="kitchen">
        {% if sentence is defined %}
        <div class="sentence">
            <div id="sentence">
                <h2>{{sentence}}</h2>
            </div>
        </div>
        {% endif %}
        <div class="backFridge">
            <div class="{% if seed[2][7] == 1 %} {{'fridge fridgeOpen'}} {% else %} {{'fridge'}} {% endif %}">  
            </div>
        </div>
        <div class="{% if seed[2][8] == 1 %} {{'toggler toggleron'}} {% else %} {{'toggler'}} {% endif %}">
        </div>
        <div class="{% if seed[2][5] %} {{'radio radioon'}} {% else %} {{'radio'}} {% endif %}">
        </div>
        <div class="container-page">
            <div class="circle"></div>
            <div id="sign-page">
                <form action="/" method="GET">
                    <input type="image" src="static/css/sign-language.png" border="0" alt="Submit" />
                </form>
            </div>
            <div class="gradient-circle-page"></div>
        </div>
    </div>
    <!--### HOME ### -->
    {% elif command['location'] == -1 %}
    <div id="home">
        {% if sentence is defined %}
        <div class="sentence">
            <div id="sentence">
                <h2>{{sentence}}</h2>
            </div>
        </div>
        {% endif %}
        <div class="{% if seed[-1][6] == 1 %} {{'screen tvon'}} {% else %} {{'screen'}} {% endif %}">
        </div>
        <div class="{% if seed[-1][3] %} {{'ac acon'}} {% else %} {{'ac'}} {% endif %}">
        </div>
        <div class="container-page">
            <div class="circle"></div>
            <div id="sign-page">
                <form action="/" method="GET">
                    <input type="image" src="static/css/sign-language.png" border="0" alt="Submit" />
                </form>
            </div>
            <div class="gradient-circle-page"></div>
        </div>
    </div>
    <!--### GARAGE ### -->
    {% elif command['location'] == 4 %}
    <div id="garage">
        {% if sentence is defined %}
        <div class="sentence">
            <div id="sentence">
                <h2>{{sentence}}</h2>
            </div>
        </div>
        {% endif %}
        <div class="backDoor">
            <div class="{% if seed[4][1] == 1 %} {{'door doorOpen'}} {% else %} {{'door'}} {% endif %}">  
            </div>
        </div>
        <div class="{% if seed[4][4] == 1 %} {{'fan fanon'}} {% else %} {{'fan'}} {% endif %}">
        </div>
        <div class="{% if seed[4][5] == 1 %} {{'radio radioon'}} {% else %} {{'radio'}} {% endif %}">
        </div>
        <div class="container-page">
            <div class="circle"></div>
            <div id="sign-page">
                <form action="/" method="GET">
                    <input type="image" src="static/css/sign-language.png" border="0" alt="Submit" />
                </form>
            </div>
            <div class="gradient-circle-page"></div>
        </div>
    </div>
    <!--### ROOM ### -->
    {% elif command['location'] == 3 %}
    <div id="room">
        {% if sentence is defined %}
        <div class="sentence">
            <div id="sentence">
                <h2>{{sentence}}</h2>
            </div>
        </div>
        {% endif %}
        <div class="backDoor">
            <div class="{% if seed[3][1] %} {{'door doorOpen'}} {% else %} {{'door'}} {% endif %}">  
            </div>
        </div>
        <div class="{% if seed[3][3] == 1 %} {{'ac acon'}} {% else %} {{'ac'}} {% endif %}">
        </div>
        <div class="desktop">
            <div class="{% if seed[3][10] == 1 %} {{'pc pcon'}} {% else %} {{'pc'}} {% endif %}">
            </div>
        </div>
        <div class="window">
            <div class="{% if seed[3][8] == 1 %} {{'toggler toggleron'}} {% else %} {{'toggler'}} {% endif %}">
            </div>
        </div>
        <div class="container-page">
            <div class="circle"></div>
            <div id="sign-page">
                <form action="/" method="GET">
                    <input type="image" src="static/css/sign-language.png" border="0" alt="Submit" />
                </form>
            </div>
            <div class="gradient-circle-page"></div>
        </div>
    </div>
    {% endif %}
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>